.entry {
    background-color: tan;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}